body {
  font-family: Arial, sans-serif;
  background-image: url('../image/image1.jpg');
  background-size: cover;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background-color: transparent;
  padding: 2rem;
  border-radius: 16px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.5);
  max-width: 400px;
  text-align: center;
}

header h1 {
  margin-bottom: 0.5rem;
}

header p {
  color: #555;
  font-size: 0.9rem;
}

main {
  margin: 2rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.card {
  display: block;
  background-image: transparent;
  border: 2px solid #ccc;
  padding: 1rem;
  border-radius: 12px;
  text-decoration: none;
  color: #333;
  transition: 0.2s;
}

.card:hover {
  background: #e6e9f2;
}

.icon {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

footer {
  font-size:0.8rem;
  color: #333;
}