body {
  font-family: Arial, sans-serif;
  background-image: url('../image/image1.jpg');
  background-size: cover;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  background-color: transparent;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.5);
}

header {
  text-align: center;
  margin-bottom: 20px;
}

h2 {
  color: #222;
}

.input-section {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

textarea {
  resize: none;
  padding: 10px;
  border-radius: 8px;
  border: 1px solid #ddd;
  font-size: 14px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

#generateBtn {
  background: #e63946;
  color: #fff;
}

.output-section {
  margin-top: 25px;
  text-align: center;
}

#qrCode canvas {
  margin: 15px auto;
  display: block;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 10px;
}

#downloadBtn {
  background: #ddd;
}

#shareBtn {
  background: #e63946;
  color: #fff;
}
